html {
  scroll-behavior: smooth;
}

body {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  margin: 0;
  letter-spacing: 0.03em;
}

*, *:before, *:after {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

/*******Navbar*******/

.header {
  width: 100%;
}

.navbar {
  display: flex;
  background: linear-gradient(180deg, #0c9463 0%, #25ca8e 100%);
  width: 100%;
  height: 43px;
  align-items: center;
  z-index: 100;
}

.nav-link {
  margin-right: 45px;
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-weight: 600;
  transition: color 0.2s linear;
}

.nav-link--active {
  color: #0d4d35;
}

.nav-link:hover {
  color: #0d4d35;
}

.nav-link:first-child {
  margin-left: 60px;
}

/***Top-page***/

.title {
  margin: 30px 0;
  width: 100%;
  max-height: fit-content;
}

.title h1 {
  font-family: "Castellar";
  font-size: 2.4rem;
  text-align: center;
  color: #000000;
  font-weight: normal;
}

.line {
  border-bottom: 3px solid #000000;
  margin: 30px 600px;
}

.logo {
  display: block;
  margin: 0 auto;
  width: 170px;
  height: auto;
}

.top-page {
  display: flex;
  justify-content: center;
  align-items: center;
  left: 50%;
}

.top-content {
  background: url("/ArtOfBloom/ArticolImg/Articol2Fundal.png") center no-repeat;
  background-size: cover;
  text-align: center;
  padding: 70px;
}

.collage-img {
  box-sizing: 90%;
  margin-bottom: 40px;
}

.collage-img img {
  width: 90%;
  height: auto;
}

/***Text***/

.txt-container {
  text-align: center;
  background: rgba(255, 255, 255, 0.65);
  padding: 20px;
}

.txt1 {
  font-style: normal;
  font-weight: bold;
  font-size: 1.2rem;
  text-align: center;
  color: #534444;
  margin: 5px 0;
}

.txt2 {
  font-style: normal;
  font-weight: bold;
  font-size: 1.5rem;
  color: #da22ff;
  margin: 15px 0;
}

/*******Section-footer*******/

.section-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("/ArtOfBloom/ProductsImg/FundalPlanta.png") center no-repeat;
  background-size: cover;
}

.section-info {
  margin: 100px auto;
  color: white;
  background: rgba(11, 11, 11, 0.3);
  padding: 50px;
  text-align: center;
  width: 65%;
}

h3 {
  font-size: 2.5rem;
}

.section-text {
  font-size: 1.8rem;
}

.space {
  height: 30px;
}

.section-button {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 240px;
  width: 240px;
  height: 35px;
  background: linear-gradient(123.35deg, #da22ff 18.59%, #9733ee 138.48%);
  color: white;
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 0.04em;
  border-radius: 3px;
  font-size: 1.25rem;
  margin: 40px auto 0;
  box-shadow: 13px 10px 21px -13px rgba(36, 36, 36, 1);
  transition: transform 0.2s linear;
}

.section-button:hover {
  transform: translateY(-4px);
}

/**********Socials************/

.social {
  display: flex;
  justify-content: center;
}

.social-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border: 2px solid white;
  border-radius: 2px;
  margin-right: 4px;
  background-color: transparent;
  transition: background 0.1s linear;
}

.social-item:hover {
  background-color: white;
}

.social-item:hover .social-icon {
  fill: black;
}

.social-icon {
  display: block;
  fill: white;
  height: 18px;
  transition: fill 0.1s linear;
}

/**********Footer************/

.footer {
  background-color: #10ac74;
}

.footer-inner {
  padding: 60px 100px;
  display: flex;
  flex-wrap: wrap;
}

.footer-block {
  width: 33.3333%;
  text-align: center;
  padding: 0 15px;
}

.footer-title {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 10px;
}

.footer-address {
  font-style: normal;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.555);
  line-height: 1.5;
}

.footer-text {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.555);
  line-height: 1.5;
}

.newsletter-link {
  color: rgba(255, 255, 255, 0.555);
  transition: color 0.1s linear;
}

.newsletter-link:hover {
  color: white;
}

/*********Copyright************/

.copyright {
  background-color: #0c9463;
  padding: 20px 0;
}

.copyright-text {
  text-align: center;
  color: #ffffff;
  font-size: 14px;
  line-height: 1.5;
}

.copyright-text span {
  color: white;
}
